/* font */

@font-face {
  font-family: "bro";
  src: url("/src/font/bro-2.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.bro-titulo {
  font-family: "bro", sans-serif;
  font-size: clamp(
    24px,
    15vw,
    80px
  ); /* El tamaño será al menos 24px, se adaptará a la ventana, pero no superará los 72px */
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.bro-subtitulo {
  font-family: "bro", sans-serif;
  font-size: clamp(30px, 100vw, 40px); /* Ajusta los valores según necesites */
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.bro-subtitulo-2 {
  font-family: "bro", sans-serif;
  font-size: clamp(15px, 5vw, 25px); /* Ajusta los valores según necesites */
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; /* Puedes usar valores como normal, bold, bolder o lighter */
  font-weight: 600; /* Valores numéricos de 100 a 900 */
}

.bro-navtext {
  font-family: "bro", sans-serif;
  font-size: clamp(
    1px,
    90vw,
    19px
  ); /* El tamaño será al menos 24px, se adaptará a la ventana, pero no superará los 72px */
  text-transform: uppercase;
  text-align: center;
  color: azure !important;
}

.text-star {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/* styles.css */
.bg-custom {
  background-color:rgb(0, 0, 0);
  position: relative; /* Necesario para el posicionamiento del ::after */
  background-position: center;
  overflow: hidden; /* Asegura que el pseudoelemento no se desborde del contenedor */
  color: aliceblue;
}

.bg-custom::after {
  content: ""; /* Necesario para que el pseudoelemento se muestre */
  background-image: url(/public/images/flores.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  position: absolute; /* Posiciona el ::after dentro del contenedor */
  top: 0;
  right: 0%; /* Centra horizontalmente el pseudoelemento */
  z-index: 0; /* Asegúrate de que esté debajo de los demás elementos */
}

.content-container {
  position: relative; /* Asegura que los elementos dentro estén por encima del ::after */
  z-index: 1; /* Asegura que esté por encima del pseudoelemento ::after */
}


.navbar > .container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
